.modal {
  width: fit-content;
  max-width: 500px;
  border-radius: 5px;
  border: 0;
  padding: 1em;
  background-color: white;
  filter: drop-shadow(8px 8px 5px lightgray);

  &::backdrop {
    background-color: rgba(158, 121, 18, 0.192);
  }
}
