@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --page-width: 900px;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1em;
}

a {
  color: inherit;
}

ul {
  list-style-position: inside;
}

.cursor-pointer {
  cursor: pointer;
}

.link-no-hover:hover {
  color: currentColor;
}

.list-style-none {
  list-style: none;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.w--500 {
  width: min(100%, 500px);
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}