{% extends "_base.jinja" %}

{% block title %}Accueil{% endblock %}

{% block main %}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam beatae eum exercitationem expedita sint voluptate dolorem nulla consequuntur dolore? Commodi aut nisi neque accusamus laudantium iste tempora sit dolore molestias.</p>
<p>Qui fugiat est praesentium provident vitae impedit odit quaerat sint enim molestiae, vel quasi architecto libero natus. Temporibus veritatis alias veniam voluptatem in nostrum doloribus quod, possimus consequatur est facilis.</p>
<p>Cupiditate eius eligendi exercitationem repellendus aperiam. Repellendus suscipit qui deleniti ducimus reprehenderit eius dolores tenetur quisquam rerum repudiandae voluptas magnam earum sit perferendis quidem, quaerat delectus totam at excepturi incidunt!</p>
{% endblock %}