{% extends "_base.jinja" %}

{% block title %}Matchs{% endblock %}

{% block main %}
  <ul>
    {% for season in seasons %}
      <li>
        <a href="/matchs/{{ season }}">{{ season - 1 }}-{{ season }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
