{% extends "_base.jinja" %}

{% block title %}Créer un joueur{% endblock %}

{% block main %}
  {% import ".inc/player-form.jinja" as form %}
  {{ form.player_form(player or {}, "/joueurs/nouveau") }}
{% endblock %}