{% extends "_base.jinja" %}

{% block title %}Joueurs{% endblock %}

{% block main %}
  <div class="table" style="--rows: 3fr 4fr 4fr 4fr 7fr 4fr 2fr 5fr">
    <section class="table-head">
      <article class="table-row">
        <div class="table-cell">N° FFE</div>
        <div class="table-cell">N° FIDE</div>
        <div class="table-cell">NOM</div>
        <div class="table-cell">Prénom</div>
        <div class="table-cell">Email</div>
        <div class="table-cell">Tél</div>
        <div class="table-cell">Elo</div>
        <div class="table-cell">Actions</div>
      </article>
    </section>
    <section class="table-body">
      {% for player in players %}
        <article class="table-row">
          <div class="table-cell">{{ player.ffeId }}</div>
          <div class="table-cell">{{ player.fideId }}</div>
          <div class="table-cell">{{ player.lastName }}</div>
          <div class="table-cell">{{ player.firstName }}</div>
          <div class="table-cell">{{ player.email }}</div>
          <div class="table-cell">{{ player.phone }}</div>
          <div class="table-cell">{{ player.rating }}</div>
          <div class="table-cell table-cell-actions">
            <a href="/joueurs/{{ player.ffeId }}/modifier">Modifier</a>
            <form class="delete-player-form" action="/joueurs/{{ player.ffeId }}/supprimer" method="post">
              <button type="submit">Supprimer</button>
            </form>
          </div>
        </article>
      {% endfor %}
    </section>
  </div>

  <p><a href="/joueurs/nouveau">Créer un joueur</a></p>
{% endblock %}

{% block javascripts %}
  <script src="/public/js/delete-player-form.js" defer></script>
{% endblock %}