.header {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: white;

  section {
    padding: 0.8em;
  }

  nav {
    height: 100%;

    ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      gap: 0.75em;
    }

    a {
      text-decoration: none;
      transition: 200ms ease-out;
      position: relative;
      display: block;

      &:hover {
        color: goldenrod;

        &::before {
          width: 100%;
          border-style: solid;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        display: inline-block;
        width: 0%;
        height: 1px;
        border-color: currentColor;
        border-width: 1px;
        border-style: none;
        transition: 200ms ease-out;
      }
    }
  }
}
