<section class="header-left">
  <h1>Thonville Échecs — Équipes</h1>
</section>
<section class="header-right">
  <nav>
    <ul>
      <li>
        <a href="/accueil">Accueil</a>
      </li>
      <li>
        <a href="/matchs">Matchs</a>
      </li>
      <li>
        <a href="/joueurs">Joueurs</a>
      </li>
    </ul>
  </nav>
</section>