{% extends "_base.jinja" %}

{% block title %}Demande de nouveau mot de passe{% endblock %}

{% block main %}
  <form action="/oubli-mot-de-passe" method="post" class="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required />
    </div>
    <section class="form-submit">
      <button type="submit">Valider</button>
    </section>
  </form>
{% endblock %}