{% extends "_base.jinja" %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block main %}
  <form action="/nouveau-mot-de-passe/{{ passwordResetId }}" method="post" class="form">
    <div class="form-group">
      <label for="password">Mot de passe</label>
      <input type="password" name="password" id="password" required />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirmer</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required />
    </div>
    <section class="form-submit">
      <button type="submit">Valider</button>
    </section>
  </form>
{% endblock %}