@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --page-width: 900px;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: Montserrat, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1em;
}

h2 {
  padding: 0.2em;
  background-color: rgb(8, 8, 223);
  background-image: linear-gradient(to right, rgb(8, 8, 223), rgb(2, 2, 255));
  color: white;
}

a {
  color: inherit;
}

ul {
  list-style-position: inside;
}

.list-style-none {
  list-style: none;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.white-space-pre-wrap {
  white-space: pre-wrap;
}