{% extends "_base.jinja" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
  {% if player %}
    <a href="/joueurs/{{ player.ffeId }}/modifier">Modifier</a>
  {% else %}
    <p>Joueur non trouvé.</p>
  {% endif %}
{% endblock %}