{% extends "_base.jinja" %}

{% block title %}Joueurs{% endblock %}

{% block main %}
  {% if player.length > 0 %}
    <table>
      <thead>
        <tr>
          <th>N° FFE</th>
          <th>N° FIDE</th>
          <th>NOM</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Tél</th>
          <th>Elo</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for player in players %}
          <tr>
            <td>{{ player.ffeId }}</td>
            <td>{{ player.fideId }}</td>
            <td>{{ player.lastName }}</td>
            <td>{{ player.firstName }}</td>
            <td>{{ player.email }}</td>
            <td>{{ player.phone }}</td>
            <td>{{ player.rating }}</td>
            <td>
              <a href="/joueurs/{{ player.ffeId }}/modifier">Modifier</a>
              <form class="delete-player-form" action="/joueurs/{{ player.ffeId }}/supprimer" method="post">
                <button type="submit">Supprimer</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucun joueur à afficher.</p>
  {% endif %}

  <p><a href="/joueurs/nouveau">Créer un joueur</a></p>
{% endblock %}

{% block javascripts %}
  <script>
    document.querySelectorAll(".delete-player-form").forEach((form) => {
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        if (confirm("Êtes-vous sûr(e) de vouloir supprimer ce joueur ?"))
          form.submit();
      });
    });
  </script>
{% endblock %}