{% extends "_base.jinja" %}

{% block title %}Joueurs{% endblock %}

{% block main %}
  <table>
    <thead>
      <tr>
        <th>N° FFE</th>
        <th>N° FIDE</th>
        <th>NOM</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Tél</th>
        <th>Elo</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td>
            <a href="/joueurs/{{ player.ffeId }}">{{ player.ffeId }}</a>
          </td>
          <td>{{ player.fideId }}</td>
          <td>{{ player.lastName }}</td>
          <td>{{ player.firstName }}</td>
          <td>{{ player.email }}</td>
          <td>{{ player.phone }}</td>
          <td>{{ player.rating }}</td>
          <td>
            <a href="/joueurs/{{ player.ffeId }}/modifier">Modifier</a>
            <form action="/joueur/{{ player.ffeId }}/supprimer"><input type="submit" value="Supprimer" /></form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="/joueurs/nouveau">Créer un joueur</a></p>
{% endblock %}